# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Migration files
migrations/

# Virtual environment
venv/
env/

# Database
*.sqlite3

# Django secrets
.env

# Static and media files
staticfiles/
media/

# IDE settings
.vscode/
.idea/

#pdf output
output/
