{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>reset password</title>
  <link rel="stylesheet" href="{% static 'css/resetpass.css' %}">
</head>
<body>

  <div class="login-container">
  <h2>Reset Password</h2>

    <!-- Display any messages -->
    {% if messages %}
      {% for message in messages %}
      <p class="{% if message.tags == 'error' %}error-message{% else %}success-message{% endif %}">
        {{ message }}
      </p>
      
        </p>
      {% endfor %}
    {% endif %}

      <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <button id="reset" type="submit">Reset Password</button>
      </form>
  </div>
</body>
</html>
